@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.about{
    background-color:rgba(188, 117, 249, 0.2);;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius:15px;
    font-family: 'Roboto', cursive;
    margin-left: 8%;
    margin-top:-100px;
    box-shadow: 0 0 10px #fff, 0 0 20px #0d2534;
    transition:0.2s ease;
    margin-bottom: 2.5rem;
}
.about:hover{
    transform: scale(1.1);
}
h1{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
@media (max-width:991px){
    .about{
        margin-top:0;
    }
}
